{% extends 'wca/base.html' %}

{% block content %}
<article>
    <header>
        <h2>
            WCA Members (people who have competed in an official WCA competition)
        </h2>
    </header>
    {% include 'wca/pagination.html' %}

    {% if people %}
    <ul>
        {% for person in people %}
        <li>
            <a href="{% url 'person_detail' person.pk %}">
                {{ person.person_name | safe }}
            </a>
            [{{ person.person_identifier }}]
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>
        No people are available to view.
    </p>
    {% endif %}
    <p>
        page count: {{ people.count }}
    </p>
</article>
{% endblock content %}
